
@import url(https://fonts.googleapis.com/css?family=Caroni);
@import url(https://fonts.googleapis.com/css?family=SourceSansPro);



body {

  background: linear-gradient(to TOP, white, ghostwhite);
  background: white;
  overflow: hidden;
  display: block;
  height: 100vh;
  justify-content: center;
  text-align: center;
justify-content: center; 
  align-content: center; vertical-align: center; text-align: center; text-align;
  margin: auto auto;
  margin-top: 0px;
  padding: auto;
}


h1 {font-size: 6vw; color: darkblue; position: relative: top: 1vw; font-family: 'Caroni', cursive; margin-bottom: 1vh; margin-top: 2vh;}
 hr {background-color: transparent; width: 80vw; height: 3px; border: darkblue solid 2px;}
 h3 {display: none; font-size: 1.2vw; text-align: center; position: relative; color: darkblue; font-family: 'Helvetica', cursive; margin-top: 1vh; text-transform: none;}

.button { 
        background: transparent; color: darkblue; 
        border: transparent;
       border-bottom: 0.2vw solid darkblue;
       border-left: 0.2vw solid darkblue;
         border-right: 0.2vw solid transparent;
       border-top: 0.2vw solid transparent;
 font-family: 'Open Sans', sans-serif;
        display: inline-block;
        margin: 0 auto;
        font-weight: 1.8vw;
        
        text-align: center;
        font-size: 2.5vh;
        
        z-index: 100;
        position: relative;
        

      margin-right: 3vh;
      margin-left: 3vh;
     margin-bottom: 2vh;
        transition: 0.2s;

        z-index: 100;
        cursor: pointer;

      }

.button:hover {
          background: transparent; color: red; 
        border: transparent;
       border-bottom: 0.2vw solid transparent;
       border-left: 0.2vw solid transparent;
       border-right: 0.2vw solid red;
       border-top: 0.2vw solid red;
       
}


#sharkFin1 {
  width: 10vw; height: auto; 
  position: fixed; 
  bottom: -1vh; 
  animation: swimmingShark 30s infinite;
  border-bottom: solid 1px rgba(255, 255, 255, 0.8);
}

#sharkFin2 {
  width: 8vw; height: auto; 
  position: absolute; 
  bottom: 0vh; 
  animation: swimmingShark2 33s infinite;
  border-bottom: white 1px solid;
}


@keyframes swimmingShark {
  0%    {left: -13vw;}
  49%  {left: 113vw;   -webkit-transform: scaleX(1); transform: scaleX(1);}
  51%  {left: 113vw;   -webkit-transform: scaleX(-1); transform: scaleX(-1);}
  80%  {left: -13vw; -webkit-transform: scaleX(-1); transform: scaleX(-1);}
  100%  {left: -13vw; -webkit-transform: scaleX(1); transform: scaleX(1);}
}

@keyframes swimmingShark2 {
  0%    {left: -8vw;}
  45%  {left: 113vw;   -webkit-transform: scaleX(1); transform: scaleX(1);}
  55%  {left: 103vw;   -webkit-transform: scaleX(-1); transform: scaleX(-1);}
  80%  {left: -8vw; -webkit-transform: scaleX(-1); transform: scaleX(-1);}
  100%  {left: -8vw; -webkit-transform: scaleX(1); transform: scaleX(1);}
}


#water {
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: darkblue;
  left: 0;
  border-top: 1px solid blue;
}

.swater {
  width: 120vw;
  height: 20vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: url(images/sea.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.book {
  width: 40%;
  height: calc(width*0.5);
  background: rgba(0,255,0,0.0);
  position: relative;
  left: 25%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  border: black solid 0px;
   box-shadow: 10px 10px blue;
}

.Wrapper {
  width: 80vw;
  height: 32vw;
  position: relative;
  position: absolute;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  border: solid rgba(0, 0, 0, 0.0); 0px;
  box-shadow: 10px 10px rgba(0,0,0,0.5);
}

.pageCont {
  width: 40vw;
  height: 32vw;
  left: 0%;
  position: absolute;
  pointer-events: none;
}

.pageFront,
.pageBack {
  pointer-events: all;
  position: absolute;
  left: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 40vw;
  height: 32vw;
  overflow: hidden;
  background: hsla(0, 0%, 100%, 1);
}
.pageFront {
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
}
.pageBack {
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
  left: 0%;
}

.pageFront .pageShading {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.pageBack .pageShading {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 0.4;
  z-index: 2;
  pointer-events: none;
}

.pageBack h2,
.pageFront h2 {
  margin: 0px;
  font-size: 12vw;
  padding: 0px;
  color: white;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72, 0px 0px 10px rgba(0,0,0,1);
	font-family: 'Lobster', cursive;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

/*
.centerShading{background-color: rgba(0, 0, 0, 0.3); position: absolute; z-index: 100; left: 45%; right: 45%; width: 10%; height: 100%;}
*/

.pageBack.spreads {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;}

.pageFront.spreads {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;}




#page1 {
  background-image:url('spreads/coverA.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#page42 {
  background-image:url('spreads/coverB.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#page2 {background-image:url('spreads/s00a.jpg');}
#page3 {background-image:url('spreads/s00b.jpg');
border-right: black solid 3px;}
#page4 {background-image:url('spreads/s01a.jpg');}
#page5 {background-image:url('spreads/s01b.jpg');}
#page6 {background-image:url('spreads/s02a.jpg');}
#page7 {background-image:url('spreads/s02b.jpg');}
#page8 {background-image:url('spreads/s03a.jpg');}
#page9 {background-image:url('spreads/s03b.jpg');}
#page10 {background-image:url('spreads/s04a.jpg');}
#page11 {background-image:url('spreads/s04b.jpg');}
#page12 {background-image:url('spreads/s05a.jpg');}
#page13 {background-image:url('spreads/s05b.jpg');}
#page14 {background-image:url('spreads/s06a.jpg');}
#page15 {background-image:url('spreads/s06b.jpg');}
#page16 {background-image:url('spreads/s07a.jpg');}
#page17 {background-image:url('spreads/s07b.jpg');}
#page18 {background-image:url('spreads/s08a.jpg');}
#page19 {background-image:url('spreads/s08b.jpg');}
#page20 {background-image:url('spreads/s09a.jpg');}
#page21 {background-image:url('spreads/s09b.jpg');}
#page22 {background-image:url('spreads/s10a.jpg');}
#page23 {background-image:url('spreads/s10b.jpg');}

#page24 {background-image:url('spreads/s11a.jpg');}
#page25 {background-image:url('spreads/s11b.jpg');}
#page26 {background-image:url('spreads/s12a.jpg');}
#page27 {background-image:url('spreads/s12b.jpg');}

#page28 {background-image:url('spreads/s13a.jpg');}
#page29 {background-image:url('spreads/s13b.jpg');}
#page30 {background-image:url('spreads/s14a.jpg');}
#page31 {background-image:url('spreads/s14b.jpg');}
#page32 {background-image:url('spreads/s15a.jpg');}
#page33 {background-image:url('spreads/s15b.jpg');}

#page34 {background-image:url('spreads/s16a.jpg');}
#page35 {background-image:url('spreads/s16b.jpg');}
#page36 {background-image:url('spreads/s17a.jpg');}
#page37 {background-image:url('spreads/s17b.jpg');}
#page38 {background-image:url('spreads/s18a.jpg');}
#page39 {background-image:url('spreads/s18b.jpg');}

#page40 {background-image:url('spreads/s19a.jpg');}
#page41 {background-image:url('spreads/s19b.jpg');}

