@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


/*
html{background-color: pink; margin: auto; justify-content: center; align-items: center; align-items: center; padding-top: 0px}
*/

body {
 /* background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(255, 0, 0, 0.3));*/
  background: rgba(0, 0, 0, 1.0);
  overflow: hidden;

  color: white;
  font-family: Lobster;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  text-align: center;
justify-content: center; 
  align-content: center; vertical-align: center; text-align: center; text-align;
  margin: auto auto;
  margin-top: 0px;
  padding: auto;
  border: 0px dotted blue;
}

  /*  HORIZONTAL  */
@media only screen and (orientation: landscape) {
  body {
    display: block;
  }
  h3 {font-size: 2vw;}

  h6 {display: none;}
  h5 {display: block;}
  h1 {font-size: 8vw;}
  button {bottom: -35vh;
  }
  .moon {top: -10vh; right: -10vh; }


  }


        /*  vertical  */
@media only screen and (orientation: portrait) {
  body {  }
h3 {font-size: 1.5vh;}
  h6 {display: block;}
  h5 {display: none;}
  h1 {font-size: 5vh;}
  button {}
    .moon {top: -6vw; right: -6vw; }
}


.header {
  position: fixed;
  left: 0%;
  top: 0vh;
  height: 25vh;
  width: 100vw;
  border: 0px dotted red;
  padding: 0;
  margin: 0 auto;



}


.center {
  position: relative;
  left: 0%;
  top: 20vh;
  min-height: 50vh;
  width: 100vw;

  display: block;

  
  margin: 0;
  
  padding: auto;
  border: 0px green dotted;
  overflow: scroll;


}


.footer {
  position: absolute;
  left: 0%;
  bottom: 0vh;
  background-color: rgba(255, 0, 0, 0.0);
  color: white;
  background-image: url(images/redCandles.png);
  background-position: center;
  background-position: contain;
  background-repeat: no-repeat;
    background-size: 100vw 25vw;
  text-align: center;
  border: 0px double blue;
  height: 25vw;
  width: 100vw;
}

.moon {
width: 15vw; 
height: 15vw; 
position: fixed; 

background-color: red; z-index: 100;
background-image: url(images/blueMoon.jpg);
background-size: cover;
border: 0px solid black;
animation: moonShine 8s infinite;
/*mix-blend-mode: screen;  
normal, multiply, screen, overlay, darken, lighten, color-dodge, color-burn, difference, exclusion, hue, saturation, color, luminosity */
filter: hue-rotate(140deg);
   
 
}

@keyframes moonShine {
  0% {filter: hue-rotate(140deg); }
  50% {filter: hue-rotate(100deg); }
  100% {filter: hue-rotate(140deg); }
}

.button {border: 0.2vw solid white; background: rgba(255,0,0,0.3); color: white; 
 font-family: 'Open Sans', sans-serif;
        display: inline-block;
        margin: 0 auto;
        font-weight: 1.8vw;
        
        text-align: center;
        font-size: 2.5vh;
        
        z-index: 100;
        position: relative;
       

      margin-right: 3vh;
      margin-left: 3vh;
     margin-bottom: 2vh;
        transition: 0.5s;
        z-index: 100;

      }

.button:hover {background: rgba(164,145,0,0.5);}

/*INFO EXPANSION*/

.infoExpansion {
  max-width: 80%;
  background: rgba(0, 0, 0, 0.9);
  border: solid 0.2vw white;
  position: relative;
  margin-left: 10%;
 
  overflow: scroll;
}

p {color: white;}






h1 {
  font-family: pentagrams_callygraphyregular;
  text-align: center; position: relative; top: 0vw;
  animation: background 20s linear infinite;
  background: linear-gradient(90deg, rgba(250,48,30,1) 0%,rgba(255,201,88,1) 10%,rgba(255,147,46,1) 20%,rgba(255,165,168,1) 30%,rgba(255,90,165,1) 40%,rgba(255,16,67,1) 50%,rgba(255,58,63,1) 60%,rgba(255,175,183,1) 70%,rgba(255,170,76,1) 80%,rgba(250,48,30,1) 90%,rgba(255,201,88,1) 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  border: double pink 0px;
  padding: 0;
}

.blabla{ position: relative;
 
  
  animation: blabla 8s;
}

@keyframes background {
  0%{top: 20%;}
  100%{top: -100%}
}

@keyframes blabla {
  0%{background-position:0% 50%; top: 180%;}
  100%{background-position:100% 50%; top: 0%}
}



span {
  display: block;
  margin-top: 0;
  animation: blabla 8s;

}
span:nth-child(1) {
  margin-bottom: 4vh;
  text-indent: -0.33em;
}
span:nth-child(2) {
  font-size: 292%;
  line-height: 69%;
  word-spacing: -0.2em;
  text-indent: -0.07em;
}

 h3 {text-align: center; position: relative; border: 0px solid yellow; margin-top: 0px; margin-bottom: 0}









/*VIRTUAL GLASSES*/
.virtualGlasses
{
  display: none; 
  background-image: url(images/glassesFromBehind.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 233px; width: 100vw; 
 
 border: 0px solid yellow;
   position: relative;
  left: 0;
   margin: 0;

  
   
  
   
}

.insideGlasses{

  position: relative;
  left: 0%;
  top: 0%;
  width: 577px;
  height: 233px;
clip-path: polygon(12% 8%, 17% 4%, 25% 2%, 30% 2%, 34% 3%, 38% 4%, 41% 6%, 44% 10%, 44% 20%, 43% 35%, 41% 43%, 36% 45%, 27% 47%, 21% 46%, 14% 44%, 11% 33%, 10% 19%);


  }



/*VIRTUAL GLASSES ENDS*/







.flicker {
  width: 2vw;
  height: 8vw;
  background: conic-gradient(yellow 15deg, yellow 30deg, red 45deg, black 60deg, blue 270deg, red 310deg, yellow 340deg);
  background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9));
  background: linear-gradient(to top, red 0%, orange 10%, yellow 25%, white 75%, black 100%);
  background-color: red; /* For browsers that do not support gradients */
  background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%);
  border-radius: 66% 23% 25% 30% / 82% 84% 8% 8%  ;
  animation-name: flickeringLights;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 4.2vw;
  left: 31vw;
  opacity: 0.8;
  
 
}

@keyframes flickeringLights {
  0% {    background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%); 
          border-radius: 66% 23% 25% 30% / 82% 84% 10% 14% 
        }

  25% {   
          border-radius: 65% 35% 20% 25% / 82% 84% 8% 8%  ;
      }

  40% {    background: linear-gradient(to top, black -1%, red 4%, orange 7%, white 14%, yellow 21%, white 99%); 
          border-radius: 50% 50% 25% 30% / 82% 84% 12% 12%  ;}

60% {    
          border-radius: 57% 44% 40% 20% / 82% 84% 10% 10%  ;}

75% {    background: linear-gradient(to top, black -3%, red 3%, orange 5%, white 13%, yellow 20%, white 98%);  
          
          border-radius: 62% 42% 25% 30% / 82% 84% 8% 8%  ;}

  
  100% { background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%); 
          border-radius: 66% 23% 25% 30% / 82% 84% 8% 8%;}}


.flickerAggressive {
  width: 2vw;
  height: 8vw;
  background: conic-gradient(yellow 15deg, yellow 30deg, red 45deg, black 60deg, blue 270deg, red 310deg, yellow 340deg);
  background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9));
  background: linear-gradient(to top, red 0%, orange 10%, yellow 25%, white 75%, black 100%);
    background-color: red; /* For browsers that do not support gradients */
  background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%);
   

  border-radius: 23% 63% 25% 30% / 82% 84% 10% 14%;
  animation-name: flickeringLightsAggressive;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 6.2vw;
  left: 31vw;
  opacity: 0.8;
  
 
}



@keyframes flickeringLightsAggressive {
  0% {    background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%); 
          border-radius: 23% 63% 25% 30% / 82% 84% 10% 14% 
        }

  25% {   
          border-radius: 35% 65% 20% 25% / 82% 84% 8% 8%  ;
      }

  40% {    background: linear-gradient(to top, black -1%, red 4%, orange 7%, white 14%, yellow 21%, white 99%); 
          border-radius: 50% 50% 25% 30% / 82% 84% 12% 12%  ;}

60% {    
          border-radius: 44% 54% 40% 20% / 82% 84% 10% 10%  ;}

75% {    background: linear-gradient(to top, black -3%, red 3%, orange 5%, white 13%, yellow 20%, white 98%);  
          
          border-radius: 42% 62% 25% 30% / 82% 84% 8% 8%  ;}

  
  100% { background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%); 
          border-radius: 23% 63% 25% 30% / 82% 84% 8% 8%;}}




.flickerBall {
  width: 5vw;
  height: 5vw;
  background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9));
  background: red;
  border-radius: 41% 40% 46% 41% / 43% 43% 47% 48%;
  animation-name: flickeringBall;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 7vw;
  left: 29.5vw;
  z-index: -1;
  opacity: 0.3;
  
 
}

@keyframes flickeringBall {
  0% {    background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9)); 
          background: red;  
          border-radius: 41% 40% 46% 41% / 43% 41% 47% 48%;
        }

  25% {    background: linear-gradient(to left, rgba(255, 80, 200, 0.8), rgba(255, 20, 255, 0.9));   
          background: darkred;
          border-radius: 41% 36% 46% 44% / 41% 43% 47% 48%;

      }

  40% {    background: linear-gradient(to left, rgba(255, 80, 200, 0.8), rgba(255, 20, 255, 0.9));   
          background: indianred;
          border-radius: 42% 40% 46% 41% / 43% 43% 51% 49%;}

60% {    background: linear-gradient(to left, rgba(255, 80, 200, 0.8), rgba(255, 20, 255, 0.9));   
          background: mediumvioletred;
          border-radius: 41% 39% 46% 41% / 43% 42% 47% 48%;}

75% {    background: linear-gradient(to left, rgba(255, 80, 200, 0.8), rgba(255, 20, 255, 0.9));   
          background: orangered;
          border-radius: 41% 43% 48% 41% / 43% 51% 47% 48%;}
  
  100% {  background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9));
  background: red;
          border-radius: 41% 40% 46% 41% / 43% 43% 47% 48%;}}

#candle1{   bottom: 8.7vw;  left: 6vw;}
#ball1  {   bottom: 7vw; left: 4.5vw; animation-duration: 5s;}

#candle2{   bottom: 7.2vw;  left: 12.5vw; height: 8vw;}
#ball2  {   bottom: 5vw; left: 11.5vw; }

#candle3{   bottom: 9.3vw;  left: 23.5vw;}
#ball3  {   bottom: 7vw; left: 21.5vw; animation-duration: 3s;}



#candle4{   bottom: 6.2vw;  left: 31vw; height: 10vw;}
#ball4  {   bottom: 5vw; left: 29.5vw; animation-duration: 5s;}

#candle5{   bottom: 8vw;  left: 41vw;}
#ball5  {   bottom: 6vw; left: 40vw; width: 3vw; animation-duration: 6s;}

#candle6{   bottom: 8.5vw;  left: 56.5vw;}
#ball6  {   bottom: 7vw; left: 55vw;}



#candle7{   bottom: 7.6vw;  left: 62.5vw; height: 9vw;}
#ball7  {   bottom: 6vw; left: 61.5vw; animation-duration: 10s;}

#candle8{   bottom: 9.2vw;  left: 74vw;}
#ball8  {   bottom: 8vw; left: 72.5vw;}

#candle9{   bottom: 6.2vw;  left: 81vw;}
#ball9  {   bottom: 5vw; left: 79.5vw; animation-duration: 5s;}

#candle10{   bottom: 8.3vw;  left: 91vw;}
#ball10  {   bottom: 6vw; left: 90.5vw; width: 3vw}






/*WHATEVER*/
.hideMe {
    -moz-animation: cssAnimation 0s ease-in 0.5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 0.5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 0.5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}




