@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');






body {
 /* background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(255, 0, 0, 0.3));*/
  background: rgba(0, 0, 0, 1.0);
  overflow: hidden;
  display: block;
color: red;
font-family: Lobster;
font-family: 'Open Sans', sans-serif;
justify-content: center;
text-align: center;
}





h1, h2 {
    font-family: pentagrams_callygraphyregular;
   

}


/*
.profHeading {
color: white;
  background-image: -webkit-linear-gradient(92deg, blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
*/

.button {border: 0.2vw solid white; background: rgba(255,0,0,0.3); color: white; 
 font-family: 'Open Sans', sans-serif;
        display: inline;
        margin: 0 auto;
        font-weight: 1.8vw;
        
        text-align: center;
        font-size: 2vw;
        
        z-index: 100;
        position: relative;
      margin-right: 5vw;
      bsolute;
      top: 30vw;
        
        transition: 0.5s;
      }

.button:hover {background: rgba(164,0,0,0.1);}


h1 {
  font-family: pentagrams_callygraphyregular;
   
  display: inline-block;
  margin: 0 auto;
  text-align: center;

  font-size: 6vw; text-align: center; position: relative; top: 1vw;
animation: background 20s linear infinite;
  
  background: linear-gradient(90deg, rgba(250,48,30,1) 0%,rgba(255,201,88,1) 10%,rgba(255,147,46,1) 20%,rgba(255,165,168,1) 30%,rgba(255,90,165,1) 40%,rgba(255,16,67,1) 50%,rgba(255,58,63,1) 60%,rgba(255,175,183,1) 70%,rgba(255,170,76,1) 80%,rgba(250,48,30,1) 90%,rgba(255,201,88,1) 100%);
  background-size: 1000% 100%;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blabla{ position: absolute;
  top: 7%;
  left: 15%;
  animation: blabla 10s;
}

@keyframes background {
  0%{top: 20%;}
  100%{top: -100%}
}

@keyframes blabla {
  0%{background-position:0% 50%; top: 80%;}
  100%{background-position:100% 50%; top: 7%}
}



span {
  display: block;
  margin: 4vw;
}
span:nth-child(1) {
  
  text-indent: -0.33em;
}
span:nth-child(2) {
  font-size: 292%;
  line-height: 69%;
  word-spacing: -0.2em;
  text-indent: -0.07em;
}

 h3 {font-size: 2.5vw; text-align: center; position: relative;}

.footer1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  background-image: url(images/twoCandles.png);
  background-size: 1200px 300px;
  background-repeat: no-repeat;
  text-align: center;
  border: 4px solid white;
}

.footer2 {
  position: fixed;
  left: 0%;
  bottom: 0;
  width: 100vw;
  height: 25vw;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  background-image: url(images/redCandles.png);
  background-position: cover;
  background-repeat: no-repeat;
    background-size: 100vw 25vw;
  text-align: center;
  border: 0px solid white;
}


.flicker {
  width: 2vw;
  height: 8vw;
  background: conic-gradient(yellow 15deg, yellow 30deg, red 45deg, black 60deg, blue 270deg, red 310deg, yellow 340deg);
  background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9));
  background: linear-gradient(to top, red 0%, orange 10%, yellow 25%, white 75%, black 100%);
  background-color: red; /* For browsers that do not support gradients */
  background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%);
  border-radius: 66% 23% 25% 30% / 82% 84% 8% 8%  ;
  animation-name: flickeringLights;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 6.2vw;
  left: 31vw;
  opacity: 0.8;
  
 
}

@keyframes flickeringLights {
  0% {    background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%); 
          border-radius: 66% 23% 25% 30% / 82% 84% 10% 14% 
        }

  25% {   
          border-radius: 65% 35% 20% 25% / 82% 84% 8% 8%  ;
      }

  40% {    background: linear-gradient(to top, black -1%, red 4%, orange 7%, white 14%, yellow 21%, white 99%); 
          border-radius: 50% 50% 25% 30% / 82% 84% 12% 12%  ;}

60% {    
          border-radius: 57% 44% 40% 20% / 82% 84% 10% 10%  ;}

75% {    background: linear-gradient(to top, black -3%, red 3%, orange 5%, white 13%, yellow 20%, white 98%);  
          
          border-radius: 62% 42% 25% 30% / 82% 84% 8% 8%  ;}

  
  100% { background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%); 
          border-radius: 66% 23% 25% 30% / 82% 84% 8% 8%;}}


.flickerAggressive {
  width: 2vw;
  height: 8vw;
  background: conic-gradient(yellow 15deg, yellow 30deg, red 45deg, black 60deg, blue 270deg, red 310deg, yellow 340deg);
  background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9));
  background: linear-gradient(to top, red 0%, orange 10%, yellow 25%, white 75%, black 100%);
    background-color: red; /* For browsers that do not support gradients */
  background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%);
   

  border-radius: 23% 63% 25% 30% / 82% 84% 10% 14%;
  animation-name: flickeringLightsAggressive;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 6.2vw;
  left: 31vw;
  opacity: 0.8;
  
 
}



@keyframes flickeringLightsAggressive {
  0% {    background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%); 
          border-radius: 23% 63% 25% 30% / 82% 84% 10% 14% 
        }

  25% {   
          border-radius: 35% 65% 20% 25% / 82% 84% 8% 8%  ;
      }

  40% {    background: linear-gradient(to top, black -1%, red 4%, orange 7%, white 14%, yellow 21%, white 99%); 
          border-radius: 50% 50% 25% 30% / 82% 84% 12% 12%  ;}

60% {    
          border-radius: 44% 54% 40% 20% / 82% 84% 10% 10%  ;}

75% {    background: linear-gradient(to top, black -3%, red 3%, orange 5%, white 13%, yellow 20%, white 98%);  
          
          border-radius: 42% 62% 25% 30% / 82% 84% 8% 8%  ;}

  
  100% { background: linear-gradient(to top, black -2%, red 2%, orange 6%, white 15%, yellow 20%, white 100%); 
          border-radius: 23% 63% 25% 30% / 82% 84% 8% 8%;}}




.flickerBall {
  width: 5vw;
  height: 5vw;
  background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9));
  background: red;
  border-radius: 41% 40% 46% 41% / 43% 43% 47% 48%;
  animation-name: flickeringBall;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 7vw;
  left: 29.5vw;
  z-index: -1;
  opacity: 0.3;
  
 
}

@keyframes flickeringBall {
  0% {    background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9)); 
          background: red;  
          border-radius: 41% 40% 46% 41% / 43% 41% 47% 48%;
        }

  25% {    background: linear-gradient(to left, rgba(255, 80, 200, 0.8), rgba(255, 20, 255, 0.9));   
          background: darkred;
          border-radius: 41% 36% 46% 44% / 41% 43% 47% 48%;

      }

  40% {    background: linear-gradient(to left, rgba(255, 80, 200, 0.8), rgba(255, 20, 255, 0.9));   
          background: indianred;
          border-radius: 42% 40% 46% 41% / 43% 43% 51% 49%;}

60% {    background: linear-gradient(to left, rgba(255, 80, 200, 0.8), rgba(255, 20, 255, 0.9));   
          background: mediumvioletred;
          border-radius: 41% 39% 46% 41% / 43% 42% 47% 48%;}

75% {    background: linear-gradient(to left, rgba(255, 80, 200, 0.8), rgba(255, 20, 255, 0.9));   
          background: orangered;
          border-radius: 41% 43% 48% 41% / 43% 51% 47% 48%;}
  
  100% {  background: linear-gradient(to left, rgba(255, 80, 255, 0.9), rgba(255, 20, 255, 0.9));
  background: red;
          border-radius: 41% 40% 46% 41% / 43% 43% 47% 48%;}}

#candle1{   bottom: 8vw;  left: 6vw;}
#ball1  {   bottom: 9vw; left: 5vw;}

#candle2{   bottom: 6.2vw;  left: 13vw;}
#ball2  {   bottom: 7vw; left: 13.5vw;}

#candle3{   bottom: 6.2vw;  left: 21vw;}
#ball3  {   bottom: 7vw; left: 21.5vw;}

#candle4{   bottom: 6.2vw;  left: 31vw;}
#ball4  {   bottom: 7vw; left: 29.5vw;}

#candle5{   bottom: 8vw;  left: 41vw;}
#ball5  {   bottom: 8vw; left: 39.5vw; width: 3vw}


