.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20vw;
height: 20vw;
  background: black;
 
  align-items: center;
  justify-content: center;
}

.dial {
  width: 300px;
  height: 300px;
  background: #27E5ED;
  border-radius: 50%;
  position: relative;
}

.direction-indicator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #130834;
  position: absolute;
  top: 20px;
  left: calc(50% - 25px);
}


h5 {color: white; position: absolute; left: 10vw; top: 10vw;}

#success {color: white; position: absolute; left: 10vw; top: 20vw;



}